@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Font imported in layout.tsx to avoid duplication and improve loading performance.
  @import url("https://chinese-fonts-cdn.deno.dev/packages/dymh/dist/DouyinSansBold/result.css");
*/

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-gradient-to-r from-maimai-pink via-maimai-pink-light to-maimai-pink;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .animation-delay-500 {
    animation-delay: 0.5s;
  }

  .text-stroke-white {
    text-shadow: 
      -2px -2px 2px rgba(255, 255, 255, 1), 
      2px -2px 2px rgba(255, 255, 255, 1), 
      -2px 2px 2px rgba(255, 255, 255, 1), 
      2px 2px 2px rgba(255, 255, 255, 1);
  }

  .text-stroke-purple {
    text-shadow:
      -2px -2px 4px rgba(128, 90, 213, 1),
      2px -2px 4px rgba(128, 90, 213, 1),
      -2px 2px 2px rgba(128, 90, 213, 1),
      2px 2px 2px rgba(128, 90, 213, 1);
  }
}

/* Quill Editor Video Styles */
.ql-container .ql-video {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9; /* 保持16:9宽高比 */
  object-fit: cover; /* 确保内容完全覆盖 */
  max-width: 100%; /* 最大宽度不超过容器 */
  margin-left: auto;
  margin-right: auto; /* 水平居中 */
  display: block; /* 块级元素 */
  border-radius: 0.5rem; /* 可选的圆角 */
}
