@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://chinese-fonts-cdn.deno.dev/packages/dymh/dist/DouyinSansBold/result.css');

:root {
  /* --background-start-rgb:133, 144, 250; */
  --background-start-rgb: 239, 246, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 239, 246, 255;
    /* --background-start-rgb: 133, 144, 250; */
    --background-start-rgb: 239, 246, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: linear-gradient(to bottom,
      rgb(150,183,255) 0%,
      /* 第一段：从顶部开始，rgba 定义颜色 */
      rgb(237,175,250) 40%,
      /* 第二段：渐变到指定的 RGB 颜色 */
      rgb(255,213,207) 85%,
      /* 第三段：从中间颜色渐变到变量指定的 RGB 颜色 */
      rgb(255, 255, 255) 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ql-container .ql-video {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  /* 保持16:9宽高比 */
  object-fit: cover;
  /* 确保内容完全覆盖 */
  max-width: 100%;
  /* 最大宽度不超过容器 */
  margin-left: auto;
  margin-right: auto;
  /* 水平居中 */
  display: block;
  /* 块级元素 */
  border-radius: 0.5rem;
  /* 可选的圆角 */
}


.animation-delay-500 {
  animation-delay: 0.5s;
}